# Environnement virtuel
myenv/

# Fichier de configuration sensible
.env

# Fichiers de base de données par défaut
*.sqlite3

----------------------------------------
# Fichier de configuration
__pycache__/
*.pyc
