{% extends "Goeco/base.html" %} 
{% load static %} 
{% block title %}Liste des Composteurs{% endblock %} 
{% block extra_css %}

<link rel="stylesheet" href="{% static 'Goeco/css/composteurs.css' %}?v={{ timestamp }}">
{% endblock %} {% block content %}
<h1 class="title-color">Liste des Composteurs</h1>
<div class="map-container">
  <iframe src="https://opendata.paris.fr/explore/embed/dataset/dechets-menagers-points-dapport-volontaire-composteurs/map/?disjunctive.operateur&disjunctive.arrdt&disjunctive.cquartier&basemap=jawg.dark&location=8,48.38043,3.29967&static=false&datasetcard=false&scrollWheelZoom=false" width="600" height="450" frameborder="0"></iframe>
</div>
<div class="table-containe">
  <table class="table-container">
    <thead class="title-collumn">
      <tr>
        <th>Nom du site</th>
        <th>Entité chargé du composteur</th>
        <th>Adresse de l'emplacement</th>
        <th>Arrondissement</th>
      </tr>
    </thead>
    <tbody class="data-collumn">
        {% for composteur in composteurs %}
            <tr>
              <td>{{ composteur.nom }}</td>
              <td>{{ composteur.entite|default:"-" }}</td>
              <td>{{ composteur.adresse }}</td>
              <td>{{ composteur.arrondissement|default:"-" }}</td>
            </tr>
        {% empty %}   
            <tr class="not-found">
              <td colspan="4">Aucun composteur trouvé.</td>
            </tr> 
        {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
